@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --background-color: #010a0a;
  --primary-font-color: #fff8ff;
  --sedonary-font-color: #697777;
  --secondary-color: #021313;
  --border-color: #073a3a;
}
body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 1.25rem;
  color: var(--primary-font-color);
  background-color: var(--background-color);
}
p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 0.93rem;
}
.my-name {
  font-size: 1.75rem;
  margin: 1rem 0;
}
.main-nav-bar {
  display: flex;
  top: 0.5rem;
  position: fixed;
  gap: 2rem;
  padding: 0.75rem 0.75rem;
  border-radius: 1rem;
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
}

.nav-button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  cursor: pointer;
  color: var(--primary-font-color);
}

.nav-button:hover {
  text-decoration: none;
  cursor: pointer;
  background: var(--primary-font-color);
  border: 1px solid transparent;
  color: var(--background-color);
  font-weight: bold;
}

.nav-button:focus {
  text-decoration: none;
  cursor: pointer;
  background: var(--primary-font-color);
  border: 1px solid transparent;
  color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  max-width: 70%;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem 0;
  width: 100%;
}

.image-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  min-width: 18rem;
  border-radius: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}
.sub-heading {
  font-size: 1.25rem;
  text-align: center;
  color: var(--sedonary-font-color);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 0;
}
.about-me-conent {
  align-self: flex-start;
  width: 60%;
  min-width: 40rem;
}
#about p {
  font-size: 1.5rem;
  text-align: justify;
}

.project-carousal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.project {
  position: relative;
  display: flex;
  width: 25rem;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-content: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.notification {
  color: maroon;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
iframe {
  border: none;
  height: 100%;
  aspect-ratio: 16/9;
}

.chips-wrapper {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  z-index: 2;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.web-design,
.web-development {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.project-title {
  box-sizing: border-box;
  font-weight: bold;
  position: absolute;
  width: 100%;
  background: var(--primary-font-color);
  color: var(--background-color);
  padding: 0.25rem 0.5rem;
}
.web-design {
  background-color: blue;
}
.web-development {
  background-color: green;
}
